.sidebar {
  width: 280px;
  height: 100%;
  background: var(--background);
  background: var(--background-gradient);
  color: var(--color-primary);
  letter-spacing: 0.8px;
  transition: 0.2s;
  border-right: 2px solid rgb(137, 137, 137);
  a {
    text-decoration: none;
    color: var(--color-secondary);
  }
  .logo {
    height: 80px;
    display: flex;
    align-items: center;
    margin: 0 30px;
    font-size: 24px;
    .colored {
      display: flex;
      align-items: center;
      font-weight: 600;
      color: var(--color-action);
    }
  }
  .sidebar-container {
    animation: appear 0.3s ease-in 1;
    .section {
      color: var(--color-darker);
      font-size: 10px;
      margin: 30px;
      text-transform: uppercase;
      border-bottom: 1px dotted var(--color-darker);
      padding-bottom: 15px;
    }
    .item {
      display: block;
      position: relative;
      transition: 0.3s;
      .item-container {
        display: flex;
        align-items: center;
        text-transform: capitalize;
        height: 50px;
        padding: 0 30px;
        font-size: 14px;
        .icon {
          font-size: 18px;
          margin-right: 10px;
        }
      }
      &:hover {
        background-color: var(--hover);
      }
      .matched-effect {
        position: absolute;
        height: 100%;
        width: 6px;
        background-color: var(--color-action);
        top: 0;
        right: 0;
        border-radius: 2px;
        animation: grow 0.4s ease-in 1;
      }
    }
  }
}

a.active {
  background-color: var(--hover);
  color: var(--color-primary);
}

@keyframes grow {
  0% {
    height: 0px;
  }
  100% {
    height: 100%;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 80px;
    .section {
      display: none;
    }
    .logo {
      .regular {
        display: none;
      }
    }
    .sidebar-container {
      animation: none;
      .section {
        display: none;
      }
      .item {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        .item-container {
          p {
            display: none;
          }
          .icon {
            font-size: 22px;
            margin: 0px;
          }
        }
      }
    }
  }
}
